@using CodingEvents.ViewModels;

@model AddEventViewModel

@*Or @model CodingEvents.ViewModels.AddEventViewModel;*@ 

<h1>Add Event</h1>

<form method="post" asp-controller="Events" asp-action="Add">
    <div class="form-group">
        <label asp-for="Name">
            @*using uppercase referring to the property*@
            Name of event:
            <span asp-validation-for="Name" class="text-warning font-italic"></span>
            <br />
            <input asp-for="Name" />
        </label>
    </div>

    <div class="form-group">
        <label asp-for="Location">
            Event location:
            <span asp-validation-for="Location" class="text-warning font-italic"></span>
            <br />
            <input asp-for="Location" />
        </label>
    </div>

    <div class="form-group">
        <label asp-for="Description">
            Description:
            <span asp-validation-for="Description" class="text-warning font-italic"></span>
            <br />
            <input asp-for="Description" />
        </label>
    </div>

    <div class="form-group">
        <label asp-for="NoOfAttendees">
            No. of Attendees:
            <span asp-validation-for="NoOfAttendees" class="text-warning font-italic"></span>
            <br />
            <input asp-for="NoOfAttendees" />
        </label>
    </div>

    <div class="form-group">
        <label asp-for="ContactEmail">
            Contact email (optional):
            <span asp-validation-for="ContactEmail" class="text-warning font-italic"></span>
            <br />
            <input type="email" asp-for="ContactEmail" />
        </label>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId">
            Event category:
            @*<span asp-validation-for="ContactEmail" class="text-warning font-italic"></span>*@
            <br />
            <select asp-for="CategoryId" asp-items="Model.Categories"></select>
        </label>
    </div>

    <input type="submit" value="Add Event" class="btn btn-secondary" />
</form>

